<html>
    <head>
        <style>
    	    {#asset Daily_Buckets.css @encoding=utf8}
        </style>      
    </head>
    <table width=1105 style="table-layout: fixed;">
        <colgroup>
            <col style="width:20%">
            <col style="width:60%">
            <col style="width:20%">
        </colgroup>
        <tr>
            <td><div><img src='{#asset TempoLogo.png @encoding=dataURI}' width="95%"/></div></td>
            <td>
                <div style = "font-size: 16pt; text-align: center; text-align: bottom; font-size: 16pt">Tempo Daily Bucket Report
                </div>
            </td>
            <td>
                <div style = "text-align: right; text-align: bottom;">
                    Date ran: {{today}}
                </div>
            </td>
        </tr>
    </table>
    </head>
    <br></br>
    <body>
        <table>
            <thead>
                <tr>
                    <th class="col-1" bgcolor = "#d7dbe0">Name</th>
                    <th class="col-2" bgcolor = "#d7dbe0">Bucket 1</th>
                    <th class="col-2" bgcolor = "#d7dbe0">Bucket 2</th>
                    <th class="col-2" bgcolor = "#d7dbe0">Bucket 3</th>
                    <th class="col-2" bgcolor = "#d7dbe0">Bucket 4</th>
                    <th class="col-2" bgcolor = "#d7dbe0">Bucket 5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-1">Customer Buckets</td>
                    <td class="col-2">{{Bucket_1}}</td>
                    <td class="col-2">{{Bucket_2}}</td>
                    <td class="col-2">{{Bucket_3}}</td> 
                    <td class="col-2">{{Bucket_4}}</td> 
                    <td class="col-2">{{Bucket_5}}</td>
                </tr>
                
            </tbody>
        </table>
        <br></br>
       <p>
            
       
    </body>
<html>